<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BTCK.qltv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UTT Library"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".dashboard.DashboardActivity" />
        <activity android:name=".login.RecoverPasswordActivity" />
        
        <!-- Sách -->
        <activity android:name=".sach.SachActivity" />
        <activity android:name=".sach.AddSachActivity" />
        <activity android:name=".sach.UpdateSachActivity" />

        <!-- Thể Loại -->
        <activity android:name=".theloai.TheLoaiActivity" />
        <activity android:name=".theloai.AddTheLoaiActivity" />
        <activity android:name=".theloai.UpdateTheLoaiActivity" />

        <!-- Kệ Sách -->
        <activity android:name=".kesach.KeSachActivity" />

        <!-- Nhân Viên -->
        <activity android:name=".nhanvien.NhanVienActivity" />
    </application>
</manifest>