<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BTCK.qltv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UTT Library"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".dashboard.DashboardActivity" />
        <activity android:name=".login.RecoverPasswordActivity" />
        
        <!-- Sách -->
        <activity android:name=".sach.SachActivity" />
        <activity android:name=".sach.AddSachActivity" />
        <activity android:name=".sach.UpdateSachActivity" />

        <!-- Thể Loại -->
        <activity android:name=".theloai.TheLoaiActivity" />
        <activity android:name=".theloai.AddTheLoaiActivity" />
        <activity android:name=".theloai.UpdateTheLoaiActivity" />
        <!-- Nhà Xuất Bản -->
        <activity android:name=".nhaxuatban.NhaXuatBanActivity" />
        <activity android:name=".nhaxuatban.AddNhaXuatBanActivity" />
        <activity android:name=".nhaxuatban.UpdateNhaXuatBanActivity" />

        <!-- Khoa -->
        <activity android:name=".khoa.KhoaActivity" />
        <activity android:name=".khoa.AddKhoaActivity" />
        <activity android:name=".khoa.UpdateKhoaActivity" />
        <!-- ĐỘc Giả -->
        <activity android:name=".docgia.DocGiaActivity" />
        <activity android:name=".docgia.AddDocGiaActivity" />
        <activity android:name=".docgia.UpdateDocGiaActivity" />
    </application>
</manifest>